@import 'compass/reset';
@import 'compass/css3/box-sizing';

$font-dosis: "dosis_semibold", Helvetica, sans-serif;
$font-regular: "avenir_regular", Helvetica, sans-serif;
$font-bold: "avenir_bold", Helvetica, sans-serif;
$font-demi-bold: "avenir_demi_bold", Helvetica, sans-serif;
