.header{
	overflow-x: auto;
	background-image: url('../assets/img/bg/road.svg');
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 3.1em;
}

text {
	font-family: $font-dosis;
}
