.around-info {
	margin-top: -0.1em;
	padding-top: 9em;
	padding-bottom: 8em;
	background-image: url('../assets/img/bg/yellow-road.png'),
						url('../assets/img/bg/yellow-pattern.png');
	color: #fff;
	border-bottom: 3px solid #000;
}

.info-text {
	@include box-sizing(border-box);
	margin-top: -1.5em;

	h1{
		font-family: $font-dosis;
		font-size: 5.5em;
		margin-bottom: 0.4em;
		line-height: 1.1em;
	}

	.line {
		height: 3px;
		background-color: #000;
	}

	p {
		margin-top: 1.5em;
		font-family: $font-regular;
		font-size: 2.1em;
		line-height: 1.6em;
	}

	span {
		font-family: $font-demi-bold;
		color: #000;
		background-image: url('../assets/img/bg/pattern.png');
	}

	img {
		width: 22.8em;
		margin-top: 2.8em;
		transition: all 0.2s ease-in-out;
	}

	img:hover {
		transform: scale(1.04);
	}

}

.mockup {
	@include box-sizing(border-box);
}

.back-iphone {
	@include box-sizing(border-box);
	margin-left: 22em;
}

.front-iphone {
	@include box-sizing(border-box);
	padding-left: 6em;
	margin-top: -36.5em;
}

.carousel {
	width: 15em;
	margin-top: -33.8em;
	margin-left: 2.5em;
}

@media only screen
	and(max-width: 1200px) {

		.around-info {
			background-image: url('../assets/img/bg/yellow-road-md.png'),
								url('../assets/img/bg/yellow-pattern.png');
			height: 55em;
			background-position: left
		}

		/*.info-text img {
			width: 45%;
		}*/
}

@media only screen
	and(max-width: 992px) {

	.around-info {
		background-image: url('../assets/img/bg/yellow-road-sm.png'),
								url('../assets/img/bg/yellow-pattern.png');
		height: auto;
	}

	h1, p {
		text-align: center;
	}

	.mockup {
		padding-top: 8em;
		padding-bottom: 6em;
		margin-left: 150px;
	}
}

@media only screen
	and(max-width: 767px) {

	.around-info {
		background-image: url('../assets/img/bg/yellow-road-xs.png'),
							url('../assets/img/bg/yellow-pattern.png');
	}

	.info-text img {
		width: 34vw;
		margin-left: 33vw;
	}
}

@media only screen
	and(max-width: 650px) {

	.mockup {
		margin-left: 100px;
	}
}

@media only screen
	and(max-width: 580px) {

	.mockup {
		margin-left: 70px;
	}

	.info-text img {
		width: 40vw;
		margin-left: 30vw;
	}

}

@media only screen
	and(max-width: 520px) {

	.mockup {
		margin-left: 40px;
	}
}

@media only screen
	and(max-width: 460px) {

	.mockup {
		margin-left: -10px;
	}

	.info-text img {
		width: 50vw;
		margin-left: 25vw;
	}

}

@media only screen
	and(max-width: 400px) {

	.around-info {
		background-image: url('../assets/img/bg/yellow-pattern.png');
		overflow: auto;
	}

	.mockup {
		margin-left: 0px;
		padding-top: 400px;
		margin-bottom: -50px;
	}

	.back-iphone {
		display: none;
	}

	.info-text img {
		width: 70vw;
		margin-left: 15vw;
	}
}

