.around-info {
	margin-top: -0.1em;
	padding-top: 9em;
	padding-bottom: 8em;
	background-image: url('../assets/img/bg/yellow-road.png'),
						url('../assets/img/bg/yellow-pattern.png');
	color: #fff;
	border-bottom: 3px solid #000;
}

.info-text {
	@include box-sizing(border-box);
	margin-top: -1.5em;

	h1{
		font-family: $font-dosis;
		font-size: 5.5em;
		margin-bottom: 0.4em;
		line-height: 1.1em;
	}

	.line {
		height: 3px;
		background-color: #000;
	}

	p {
		margin-top: 1.5em;
		font-family: $font-regular;
		font-size: 2.1em;
		line-height: 1.6em;
	}

	span {
		font-family: $font-demi-bold;
		color: #000;
		background-image: url('../assets/img/bg/pattern.png');
	}

	img {
		width: 22.8em;
		margin-top: 2.8em;
		transition: all 0.2s ease-in-out;
	}

	img:hover {
		transform: scale(1.04);
	}

}

.mockup {
	@include box-sizing(border-box);
}

.back-iphone {
	@include box-sizing(border-box);
	margin-left: 22em;
}

.front-iphone {
	@include box-sizing(border-box);
	padding-left: 6em;
	margin-top: -36.5em;
}

.carousel {
	width: 15em;
	margin-top: -33.8em;
	margin-left: 2.5em;
}
