@import 'base';
@import '_header.scss';
@import '_intro.scss';
@import '_video.scss';
@import '_numbers.scss';
@import '_queries-intro.scss';

body {
	font-size: 62.5%;
	background-image: url('../assets/img/bg/pattern.png');
}

.hidden {
	display: none;
}

.footer {
	overflow-x: auto;
	background-image: url('../assets/img/bg/road.svg');
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 3.1em;
	height: 392px;
}

.carousel-footer {
	width: 542px;
	text-align: center;
	margin-top: -222px;
	margin-left: 468px;
	font-family: $font-dosis;
	font-size: 6.6em;
	color: #000;
}

