@import 'base';
@import '_header.scss';
@import '_intro.scss';
@import '_video.scss';
@import '_numbers.scss';
@import '_footer.scss';

body {
	font-size: 62.5%;
	background-image: url('../assets/img/bg/pattern.png');
}

.hidden {
	display: none;
}


