@import 'base';
@import '_intro.scss';
@import '_video.scss';
@import '_queries-intro.scss';

body {
	font-size: 62.5%;
	background-image: url('../assets/img/bg/pattern.png');
}

.hidden {
	display: none;
}

.header{
	overflow-x: auto;
	background-image: url('../assets/img/bg/road.svg');
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 3.1em;
}

text {
	font-family: $font-dosis;
}

.around-numbers {
	background-image: url('../assets/img/bg/numbers-road.png'), url('../assets/img/bg/yellow-pattern.png');
	border-bottom: 3px solid #000;

	section img {
		position: absolute;
		margin-left: -70px;
		margin-top: -30px;
	}

	.first {
		padding-top: 5em;
	}

	.second {
		padding-top: 15em;
	}

	.third {
		padding-top: 25em;
		padding-bottom: 4em;
	}
}

.box {
	background-image: url('../assets/img/bg/pattern.png');
	border: 3px solid #000;
	@include box-sizing(border-box);
	padding: 10px;
	height: 25em;
}

@media only screen
	and(max-width: 992px) {

	.around-numbers {
		background-image: url('../assets/img/bg/yellow-pattern.png');

		.first{
			padding-top: 6em;
		}

		.second {
			padding-top: 8em;
		}

		.third {
			padding-top: 8em;
		}
	}
}

